* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy", "Futura", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#main {
  height: 100%;
  width: 100%;

  background-color: #ab8f97;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Futura", sans-serif;
}

#nav {
  position: absolute;
  width: 330px;
  left: 5%;
  top: 5%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav img {
  height: 60px;
}
#nav h5 {
  font-size: 12px;
  color: #fff;
}
#part1 {
  height: 100%;
  width: 26%;
  /* background-color: red; */
}

#part2 {
  height: 100%;
  width: 67%;
  background-color: rgb(161, 227, 255);
  background-image: url(https://images.unsplash.com/photo-1517212160285-e9fbf358c905?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-size: center;
}

#part2 #overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(94, 64, 78, 0.646);
}

#part3 {
  height: 100%;
  width: 7%;
  /* background-color: rgb(189, 255, 183); */
}

#text-div {
  /* height: 300px; */
  width: 400px;
  position: absolute;
  /* background-color: red; */
  left: 5%;
  top: 50%;
  transform: translate(0, -50%);
}

#text-div h1 {
  font-size: 75px;
  /* font-family: gilroy; */
  color: white;
  font-weight: 900;
  letter-spacing: 7px;
  line-height: 68px;
  text-transform: uppercase;
}

#small-img-div {
  height: 400px;
  width: 300px;
  background-color: red;
  background-image: url(https://images.unsplash.com/photo-1650389176833-8dbb23d0d8f6?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 50%;
  right: 3%;
  transform: translate(0, -50%);
}

#overlay-in {
  height: 100%;
  width: 100%;
  background-color: rgba(94, 64, 78, 0.646);
}

#vertical-text {
  /* width: 100%; */
  /* background-color: rgba(255, 0, 0, 0.374); */
  position: absolute;
  transform: rotate(90deg);
  right: -26%;
  /* transform-origin: 0% 0%; */
}

#vertical-text h1 {
  font-size: 65px;
  font-weight: 800;
  color: transparent;

  letter-spacing: 7px;
  text-transform: uppercase;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: #fff;
}
